<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Analysis Results</title>
</head>
<body>
    <h1>Data Analysis Report</h1>
    <table border="1">
        <tr>
            {% for col in sales_data[0].keys() %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in sales_data %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="/">Go Back</a>
</body>
</html>
